{% extends 'layout.twig' %}
{% set scripts = ['/dist/js/index/index.js'] %}
{% set styles = ['/dist/css/index.css'] %} 

{% block main %}
  <div class="main clearfix container">
    <div class="col-md-9">
      <ul class="article-list">
        {% for article in articles %}
          <li class="">
            <div class="content">
              <a class="title" target="_blank" href="">
                {{ article.dataValues.title }}
              </a>
              {# <p class="abstract">
              </p> #}
              <div class="meta">
                <a class="nickname" target="_blank" href="">
                  
                </a>
                  <a target="_blank" href="/p/cd7f429f4278#comments">
                    <i class="iconfont ic-list-comments"></i> 0
                  </a>      
                <span>
                  <i class="iconfont ic-list-like"></i> 0
                </span>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>

      <div class="article-list">
        {% for article in articles %}
          <div class="item">
            <div class="title text-overflow">
              <a href="{{ path('article_detail', {id: article.id}) }}">{{ article.title }}</a>
            </div>
            <div class="summary">
              {{ article.content|filter_html|substr(150) }}
            </div>
            <div class="meta">
              <span><i class="iconfont blog-time"></i>{{ article.create_time|date('Y年m月d日 H:i') }}</span>
              <span><i class="iconfont blog-view text-md"></i>3123</span>
              {# <span>喜欢数</span> #}
            </div>
          </div>
        {% endfor %}
      </div>        
    </div>
    <div class="col-md-3">
      <ul class="apps">
        <li>
          算法扑克
        </li>
      </ul>
    </div>
  </div>
{% endblock %} 